# iptables configuration
# managed by Ansible

{% if iptables_rules_nat_enabled %}
# Nat-related rules
*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% for group in iptables_rules_nat_enabled %}
{% for rule in (iptables_rules_nat_default|combine(iptables_rules_nat, recursive=True))[group]  %}
-A {{ rule }}
{% endfor %}
{% endfor %}
COMMIT
# End nat-related rules.
{% endif %}

# Filter-related rules
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% for group in iptables_rules_enabled %}
{% for rule in (iptables_rules_default|combine(iptables_rules, recursive=True))[group]  %}
-A {{ rule }}
{% endfor %}
{% endfor %}
COMMIT
# End filter-related rules.
